@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  transition: 0.3s !important;
  outline: none;
  font-family: "Roboto", sans-serif !important;
}

body {
  overflow-x: hidden;
}
.filters::-webkit-scrollbar {
  height: 0px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 2px;
  background-color: rgb(187, 187, 187);
}
